.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-left: 2px solid #e40514;
}

.footer {
    padding: .8rem 0;
    background: none;
}

.nav-item.active-pro {
    background: none;
}

.management-container {
    padding-left: 39px !important;
    padding-right: 39px !important;
}

.management-card {
    margin-top: -6rem !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}