.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-left: 2px solid #e40514;
}

.footer {
    padding: .8rem 0;
    background: none;
}

.nav-item.active-pro {
    background: none;
}

.management-container {
    padding-left: 39px !important;
    padding-right: 39px !important;
}

/*quick fix */
.nav-pills .nav-link {
    border-radius: 0.375rem; 
    color: #96bf31}
  
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #96bf31; }